@model EmployeeManagement.Models.LeaveAdjustmentEntry

@{
    ViewData["Title"] = "Details";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Holiday Details</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.LeavePeriod)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.LeavePeriod.Name)
                                </td>
                                <th>
                                    @Html.DisplayNameFor(model => model.Employee)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.Employee.FullName)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.NoOfDays)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.NoOfDays)
                                </td>
                                <th>
                                    @Html.DisplayNameFor(model => model.LeaveAdjustmentDate)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.LeaveAdjustmentDate)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.AdjustmentDescription)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.AdjustmentDescription)
                                </td>
                                <th>
                                    @Html.DisplayNameFor(model => model.AdjustmentType)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.AdjustmentType.Description)
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form asp-action="Index">
    <button type="submit" class="btn btn-success">Back to List</button>
</form>
@* <div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
    <input type="button" asp-action="Index" value="Back to List" class="btn btn-success" />
</div>
 *@