@model EmployeeManagement.Models.Audit

@{
    ViewData["Title"] = "Details";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Audit Details</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.UserId)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.UserId)
                                </td>
                                <th>
                                    @Html.DisplayNameFor(model => model.AuditType)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.AuditType)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Tablename)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.Tablename)
                                </td>
                                <th>
                                    @Html.DisplayNameFor(model => model.DateTime)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.DateTime)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.OldValues)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.OldValues)
                                </td>
                                <th>
                                    @Html.DisplayNameFor(model => model.NewValues)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.NewValues)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.AffectedColumns)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.AffectedColumns)
                                </td>
                                <th>
                                    @Html.DisplayNameFor(model => model.PrimaryKey)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.PrimaryKey)
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
