@model EmployeeManagement.Models.Holiday

@{
    ViewData["Title"] = "Details";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Holiday Details</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Title)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.Title)
                                </td>
                                <th>
                                    @Html.DisplayNameFor(model => model.StartDate)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.StartDate)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.EndDate)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.EndDate)
                                </td>
                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.Description)
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
