@model EmployeeManagement.Models.City

@{
    ViewData["Title"] = "Delete";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Do you want delete this City?</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Code)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.Code)
                                </td>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.Name)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Country)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.Country.Name)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.CreatedById)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.CreatedById)
                                </td>
                                <th>
                                    @Html.DisplayNameFor(model => model.CreatedOn)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.CreatedOn)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.ModifiedById)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.ModifiedById)
                                </td>
                                <th>
                                    @Html.DisplayNameFor(model => model.ModifiedOn)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.ModifiedOn)
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index">Back to List</a>
</form>
</div>
