@model EmployeeManagement.Models.LeaveAppliction

@{
    ViewData["Title"] = "Delete";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Do you want delete this Leave Application?</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Employee)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.Employee.FullName)
                                </td>
                                <th>
                                    @Html.DisplayNameFor(model => model.NoOfDays)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.NoOfDays)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.StartDate)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.StartDate)
                                </td>
                                <th>
                                    @Html.DisplayNameFor(model => model.EndDate)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.EndDate)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Duration)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.Duration.Description)
                                </td>
                                <th>
                                    @Html.DisplayNameFor(model => model.LeaveType)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.LeaveType.Name)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Attachment)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.Attachment)
                                </td>
                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.Description)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.Status.Description)
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index">Back to List</a>
</form>
